<h3>
  <i class="far fa-calendar"></i>
  <%= @class[:date] %>
</h3>
<h1><%= @class[:instructor]%>'s <%= @class[:title] %></h1>

<h3><%= @class[:description]%></h3>
<a href="<%= @class[:link] %>"><button class="btn btn-secondary btn-sm">Class Details</button></a>


<h3 class="mt-5">RSVP</h3>

<form action="/weeks/<%= @week[:id] %>/class/<%= @class[:class_id]%" class="mt-2">
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="going" value="1">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="going" value="0">
      <label class="form-check-label">No</label>
    </div>
  </div>
  <div class="form-group">
    <label>Your Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Your Email</label>
    <input type="text" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Submit RSVP</button>
</form>
